esa.obeos.metadataeditor.model/src/main/resources/esa/obeos/metadataeditor/model/rel2015/xsd/gmi/acquisitionInformation.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gmi="http://standards.iso.org/iso/19115/-2/gmi/1.0" xmlns:gss="http://www.isotc211.org/2005/gss" elementFormDefault="qualified" targetNamespace="http://standards.iso.org/iso/19115/-2/gmi/1.0" version="0.1">
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was created by Ted Habermann during May 2015 to correct omissions (gmx, MI_EnvironmentalRecord) in existing gmi schema ====== </xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/gmd.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gss" schemaLocation="../gss/gss.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType name="MI_Instrument_Type">
		<xs:annotation>
			<xs:documentation>Description: Designations for the measuring instruments - FGDC: Platform_and_Instrument_Identification - shortName: PltfrmInstId</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="citation" type="gmd:CI_Citation_PropertyType"/>
					<xs:element name="identifier" type="gmd:MD_Identifier_PropertyType"/>
					<xs:element name="type" type="gco:CharacterString_PropertyType"/>
					<xs:element maxOccurs="1" minOccurs="0" name="description" type="gco:CharacterString_PropertyType"/>
					<xs:element maxOccurs="1" minOccurs="0" name="mountedOn" type="gmi:MI_Platform_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MI_Instrument" type="gmi:MI_Instrument_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_Instrument_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_Instrument"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MI_Operation_Type">
		<xs:annotation>
			<xs:documentation>Description: Designations for the operation used to acquire the dataset - shortName: MssnId</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="description" type="gco:CharacterString_PropertyType"/>
					<xs:element maxOccurs="1" minOccurs="0" name="citation" type="gmd:CI_Citation_PropertyType"/>
					<xs:element name="identifier" type="gmd:MD_Identifier_PropertyType"/>
					<xs:element name="status" type="gmd:MD_ProgressCode_PropertyType"/>
					<xs:element maxOccurs="1" minOccurs="0" name="type" type="gmi:MI_OperationTypeCode_PropertyType"/>
					<xs:element maxOccurs="1" minOccurs="1" name="parentOperation" type="gmi:MI_Operation_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="childOperation" type="gmi:MI_Operation_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="platform" type="gmi:MI_Platform_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="objective" type="gmi:MI_Objective_PropertyType"/>
					<xs:element maxOccurs="1" minOccurs="0" name="plan" type="gmi:MI_Plan_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="significantEvent" type="gmi:MI_Event_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MI_Operation" type="gmi:MI_Operation_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_Operation_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_Operation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MI_Platform_Type">
		<xs:annotation>
			<xs:documentation>Description: Designations for the platform used to acquire the dataset - shortName: PltfrmId</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="citation" type="gmd:CI_Citation_PropertyType"/>
					<xs:element name="identifier" type="gmd:MD_Identifier_PropertyType"/>
					<xs:element name="description" type="gco:CharacterString_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="sponsor" type="gmd:CI_ResponsibleParty_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="1" name="instrument" type="gmi:MI_Instrument_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MI_Platform" type="gmi:MI_Platform_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_Platform_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_Platform"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MI_AcquisitionInformation_Type">
		<xs:annotation>
			<xs:documentation>Description: Designations for the measuring instruments and their bands, the platform carrying them, and the mission to which the data contributes - FGDC: Platform_and_Instrument_Identification, Mission_Information - shortName: PltfrmInstId</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="instrument" type="gmi:MI_Instrument_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="operation" type="gmi:MI_Operation_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="platform" type="gmi:MI_Platform_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="acquisitionPlan" type="gmi:MI_Plan_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="objective" type="gmi:MI_Objective_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="acquisitionRequirement" type="gmi:MI_Requirement_PropertyType"/>
					<!-- Added 2015-05 Ted Habermann -->
					<xs:element minOccurs="0" name="environmentalConditions" type="gmi:MI_EnvironmentalRecord_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MI_AcquisitionInformation" type="gmi:MI_AcquisitionInformation_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_AcquisitionInformation_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_AcquisitionInformation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MI_Event_Type">
		<xs:annotation>
			<xs:documentation>Description: identification of a significant collection point within an operation - shortName: Event</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="identifier" type="gmd:MD_Identifier_PropertyType"/>
					<xs:element name="trigger" type="gmi:MI_TriggerCode_PropertyType"/>
					<xs:element name="context" type="gmi:MI_ContextCode_PropertyType"/>
					<xs:element name="sequence" type="gmi:MI_SequenceCode_PropertyType"/>
					<xs:element name="time" type="gco:DateTime_PropertyType"/>
					<xs:element maxOccurs="1" minOccurs="0" name="relatedPass" type="gmi:MI_PlatformPass_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="relatedSensor" type="gmi:MI_Instrument_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="expectedObjective" type="gmi:MI_Objective_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MI_Event" type="gmi:MI_Event_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_Event_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_Event"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MI_Requirement_Type">
		<xs:annotation>
			<xs:documentation>Description: requirement to be satisfied by the planned data acquisition - shortName: Requirement</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element minOccurs="0" name="citation" type="gmd:CI_Citation_PropertyType"/>
					<xs:element name="identifier" type="gmd:MD_Identifier_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="1" name="requestor" type="gmd:CI_ResponsibleParty_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="1" name="recipient" type="gmd:CI_ResponsibleParty_PropertyType"/>
					<xs:element name="priority" type="gmi:MI_PriorityCode_PropertyType"/>
					<xs:element name="requestedDate" type="gmi:MI_RequestedDate_PropertyType"/>
					<xs:element name="expiryDate" type="gco:DateTime_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="satisifiedPlan" type="gmi:MI_Plan_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MI_Requirement" type="gmi:MI_Requirement_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_Requirement_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_Requirement"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MI_PlatformPass_Type">
		<xs:annotation>
			<xs:documentation>Description: identification of collection coverage - shortName: PlatformPass</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="identifier" type="gmd:MD_Identifier_PropertyType"/>
					<xs:element maxOccurs="1" minOccurs="0" name="extent" type="gss:GM_Object_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="relatedEvent" type="gmi:MI_Event_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MI_PlatformPass" type="gmi:MI_PlatformPass_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_PlatformPass_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_PlatformPass"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MI_Objective_Type">
		<xs:annotation>
			<xs:documentation>Description: Describes the characteristics, spatial and temportal extent of the intended object to be observed  - shortName: TargetId</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="1" name="identifier" type="gmd:MD_Identifier_PropertyType"/>
					<xs:element maxOccurs="1" minOccurs="0" name="priority" type="gco:CharacterString_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="type" type="gmi:MI_ObjectiveTypeCode_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="function" type="gco:CharacterString_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extent" type="gmd:EX_Extent_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="sensingInstrument" type="gmi:MI_Instrument_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="pass" type="gmi:MI_PlatformPass_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="1" name="objectiveOccurance" type="gmi:MI_Event_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MI_Objective" type="gmi:MI_Objective_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_Objective_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_Objective"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MI_Plan_Type">
		<xs:annotation>
			<xs:documentation>Description: Designations for the planning information related to meeting requirements - shortName: PlanId</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="type" type="gmi:MI_GeometryTypeCode_PropertyType"/>
					<xs:element name="status" type="gmd:MD_ProgressCode_PropertyType"/>
					<xs:element name="citation" type="gmd:CI_Citation_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="operation" type="gmi:MI_Operation_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="satisfiedRequirement" type="gmi:MI_Requirement_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MI_Plan" type="gmi:MI_Plan_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_Plan_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_Plan"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MI_RequestedDate_Type">
		<xs:annotation>
			<xs:documentation>Description: range of date validity - shortName: ReqstDate</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="requestedDateOfCollection" type="gco:DateTime_PropertyType"/>
					<xs:element name="latestAcceptableDate" type="gco:DateTime_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MI_RequestedDate" type="gmi:MI_RequestedDate_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_RequestedDate_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_RequestedDate"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MI_SensorTypeCode_Type">
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MI_SensorTypeCode" type="gmi:MI_SensorTypeCode_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_SensorTypeCode_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_SensorTypeCode"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="MI_ContextCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_ContextCode_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_ContextCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="MI_GeometryTypeCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_GeometryTypeCode_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_GeometryTypeCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="MI_TriggerCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_TriggerCode_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_TriggerCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="MI_SequenceCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_SequenceCode_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_SequenceCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="MI_PriorityCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_PriorityCode_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_PriorityCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="MI_ObjectiveTypeCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_ObjectiveTypeCode_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_ObjectiveTypeCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MI_EnvironmentalRecord_Type">
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="averageAirTemperature" type="gco:Real_PropertyType"/>
					<xs:element name="maxRelativeHumidity" type="gco:Real_PropertyType"/>
					<xs:element name="maxAltitude" type="gco:Real_PropertyType"/>
					<xs:element name="meterologicalConditions" type="gco:CharacterString_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MI_EnvironmentalRecord" type="gmi:MI_EnvironmentalRecord_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_EnvironmentalRecord_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_EnvironmentalRecord"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="MI_OperationTypeCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MI_OperationTypeCode_PropertyType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="gmi:MI_OperationTypeCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>